/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.input-start {    
    min-width: 100% !important;
    width: 100% !important;
}

#whole-puzzle {
  padding-bottom: 25px;
}

#final-chunk {
  padding-bottom: 25px;
}